@page
@model AspNetDemo.Pages.Passport.RevokableOfferModel
<div class="container">
    <div class="row">
        <div class="container-fluid">
            <h3>Connection Credential Offer</h3>
            <p>
                The server is sending an email credential offer to the established connection.
                Check your Identity Wallet for the offer.
            </p>
            <p>Awaiting response...</p>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/embed.js"></script>
    <script type="text/javascript">
        var checkDoneUrl = '@Html.Raw(Url.Page("./ConnectionOffer", "Status", new { proofId = Model.Offer.Id }, "https"))';
        var redirect = '@Html.Raw(Url.Page("./Index"))';
        justWatch(checkDoneUrl, redirect);
    </script>
}